<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>

    <h2>Login</h2>

    <!-- Django login form -->
    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}

        <div>
            <label for="username"><b>Username</b></label>
            <input type="text"
                   name="username"
                   id="username"
                   placeholder="Enter Username"
                   required>
        </div>

        <div>
            <label for="password"><b>Password</b></label>
            <input type="password"
                   name="password"
                   id="password"
                   placeholder="Enter Password"
                   required>
        </div>

        <button type="submit">Login</button>

        {% if error %}
            <p style="color:red">{{ error }}</p>
        {% endif %}
    </form>
        <button>
            <a class="navbar-brand" href="{% url 'users:signup' %}">Sign-Up</a>
        </button>

</body>
</html>